<div class="divColor1">
  Погода на Elysium Planitia
</div>
<div class="divColor2">
  Марсоход NASA InSight Mars <br> проводит постоянные измерения <br> на поверхности Марса в Elysium Planitia,<br>
  плоской гладкой равнине вблизи экватора Марса.
</div>

<div class="todayAll">
  <div class="today1">
    <div class="solToday">Sol {{arrAllArr.key3.sol}}</div>
    <div class="dateToday">{{arrAllArr.key3.date}}</div> <br><br>
  </div>

  <div class="today2">
    <div class="maxTempToday">High: {{arrAllArr.key3.maxTemp}}</div>
    <div class="minTempToday">Low: {{arrAllArr.key3.minTemp}}</div>
  </div>
</div>

<div class="wrapper">

  <div class="container">
    <div class="con1 text">Sol: {{arrAllArr.key0.sol}}</div>
    <div class="con2 text">{{arrAllArr.key0.date}}</div>
    <hr>
    <div class="con3 text">High: {{arrAllArr.key0.maxTemp}} °С</div>
    <div class="con4 text">Low: {{arrAllArr.key0.minTemp}} °С</div>
    <hr>
    <div class="con5 text">High: {{arrAllArr.key0.maxAtmo}} Pa</div>
    <div class="con6 text">Low: {{arrAllArr.key0.minAtmo}} Pa</div>
  </div>

  <div class="container">
    <div class="con1 text">Sol: {{arrAllArr.key1.sol}}</div>
    <div class="con2 text">{{arrAllArr.key1.date}}</div>
    <hr>
    <div class="con3 text">High: {{arrAllArr.key1.maxTemp}} °С</div>
    <div class="con4 text">Low: {{arrAllArr.key1.minTemp}} °С</div>
    <hr>
    <div class="con5 text">High: {{arrAllArr.key1.maxAtmo}} Pa</div>
    <div class="con6 text">Low: {{arrAllArr.key1.minAtmo}} Pa</div>
  </div>

  <div class="container">
    <div class="con1 text">Sol: {{arrAllArr.key2.sol}}</div>
    <div class="con2 text">{{arrAllArr.key2.date}}</div>
    <hr>
    <div class="con3 text">High: {{arrAllArr.key2.maxTemp}} °С</div>
    <div class="con4 text">Low: {{arrAllArr.key2.minTemp}} °С</div>
    <hr>
    <div class="con5 text">High: {{arrAllArr.key2.maxAtmo}} Pa</div>
    <div class="con6 text">Low: {{arrAllArr.key2.minAtmo}} Pa</div>
  </div>

  <div class="container">
    <div class="con1 text">Sol: {{arrAllArr.key3.sol}}</div>
    <div class="con2 text">{{arrAllArr.key3.date}}</div>
    <hr>
    <div class="con3 text">High: {{arrAllArr.key3.maxTemp}} °С</div>
    <div class="con4 text">Low: {{arrAllArr.key3.minTemp}} °С</div>
    <hr>
    <div class="con5 text">High: {{arrAllArr.key3.maxAtmo}} Pa</div>
    <div class="con6 text">Low: {{arrAllArr.key3.minAtmo}} Pa</div>
  </div>

  {{!-- <div class="container">
    <div class="con1 text">Sol: {{arrAllArr.key4.sol}}</div>
    <div class="con2 text">{{arrAllArr.key4.date}}</div>
    <hr>
    <div class="con3 text">High: {{arrAllArr.key4.maxTemp}} °С</div>
    <div class="con4 text">Low: {{arrAllArr.key4.minTemp}} °С</div>
    <hr>
    <div class="con5 text">High: {{arrAllArr.key4.maxAtmo}} Pa</div>
    <div class="con6 text">Low: {{arrAllArr.key4.minAtmo}} Pa</div>
  </div> --}}

  {{!-- <div class="container">
    <div class="con1 text">Sol: {{arrAllArr.key5.sol}}</div>
    <div class="con2 text">{{arrAllArr.key5.date}}</div>
    <hr>
    <div class="con3 text">High: {{arrAllArr.key5.maxTemp}} °С</div>
    <div class="con4 text">Low: {{arrAllArr.key5.minTemp}} °С</div>
    <hr>
    <div class="con5 text">High: {{arrAllArr.key5.maxAtmo}} Pa</div>
    <div class="con6 text">Low: {{arrAllArr.key5.minAtmo}} Pa</div>
  </div>

  <div class="container">
    <div class="con1 text">Sol: {{arrAllArr.key6.sol}}</div>
    <div class="con2 text">{{arrAllArr.key6.date}}</div>
    <hr>
    <div class="con3 text">High: {{arrAllArr.key6.maxTemp}} °С</div>
    <div class="con4 text">Low: {{arrAllArr.key6.minTemp}} °С</div>
      <hr>
    <div class="con5 text">High: {{arrAllArr.key5.maxAtmo}} Pa</div>
    <div class="con6 text">Low: {{arrAllArr.key5.minAtmo}} Pa</div>
  </div> --}}
</div>
